<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evaluation of 25-dices Game Computer Simulation</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>

<body>
    <h1>Information of the Simulation</h1>

    <h2>Original Board:</h2>
    <p>{{ original_board }}</p>
    <h2>Dices Usage:</h2>
    <p>{{ dices }}</p>

    <h1>Part1:</h1>
    {{ eva_img }}
    <p>{ result1 }</p>
    <p>{ result2 }</p>

    <h1>Part2:</h1>
    <h2>Board:</h2>
    <p>{{ board }}</p>
    <h2>Next Dice:</h2>
    <p>{{ dice }}</p>
    <h2>Estimation Bar Chart</h2>
    {{ img }}

</body>

</html>